*[transformable-string] {

    &.bold>p.text {
        font-weight: bold;
    }

    &.italic>p.text {
        font-style: italic;
    }

    &.underline>p.text {
        text-decoration: underline;
    }

    &.strikethrough>.text {
        text-decoration: line-through;
    }

    &.underline.strikethrough>p.text {
        text-decoration: underline line-through;
    }

    >p.text {
        margin: 0px;

        color: var(--text-fill-color);
        font-family: var(--text-font-family);
        font-size: var(--text-font-size);
        text-align: var(--text-alignment);
        text-transform: var(--text-case);

        pointer-events: none;
        user-select: none;
    }

}