[transformable] {
    background-image: url("../../images/anton.gif");
    background-size: contain;

    display: block;

    position: absolute;

    left: calc(50% + var(--transform-position-x));
    top: calc(50% + var(--transform-position-y));

    translate: -50% -50%;

    width: var(--transform-size-width);
    height: var(--transform-size-height);

    rotate: var(--transform-rotation);

    user-select: none !important;


    &[controls-visible] {
        outline: 2px dashed gray;
        cursor: move;

        >.resize-handle {

            position: absolute;
            translate: -50% -50%;
            z-index: 1;

            width: .5rem;
            height: .5rem;

            background-color: black;

            &[width-resize-dir="left"] {
                left: 0%;
            }

            &[width-resize-dir="none"] {
                left: 50%;
            }

            &[width-resize-dir="right"] {
                left: 100%;
            }

            &[height-resize-dir="up"] {
                top: 0%;
            }

            &[height-resize-dir="none"] {
                top: 50%;
            }

            &[height-resize-dir="down"] {
                top: 100%;
            }

        }

        >.rotate-handle-line {
            position: absolute;
            top: -2rem;
            left: 50%;

            width: 0px;
            height: 2rem;

            outline: 2px dashed gray;
        }

        >.rotate-handle {
            display: block !important;
            position: absolute;

            translate: -50% -50%;
            top: -3rem;
            left: 50%;

            font-size: 1.5rem;

            cursor: grab;
        }

    }

}

body:has([transformable] > .rotate-handle[selected]) {
    cursor: grabbing !important;

    & * {
        cursor: grabbing;
    }
}