[transformable] {
    background-color: red;
    display: block;

    position: absolute;

    left: calc(50% + var(--transform-position-x));
    top: calc(50% + var(--transform-position-y));

    translate: -50% -50%;

    width: var(--transform-size-width);
    height: var(--transform-size-height);

    rotate: var(--transform-rotation);


    &[controls-visible] {
        outline: 2px dashed gray;
        cursor: move;
    }

}